body {
    background-image: url("../../Img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

header a {
    list-style: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 1.5rem;
}

.title {
    padding-top: 13rem;
}

header {
    height: 112vh;
}

section {
    background-color: black;
    color: white;
}

.competences .btn {
    background: rgb(98, 42, 131);
    background: linear-gradient(90deg, rgba(98, 42, 131, 1) 25%, rgba(49, 157, 155, 1) 75%);
    border-radius: 25px;
    border: none;
}

.competences .container {
    padding-top: 7rem;
}

.contact .container {
    padding-top: 10rem;
}

.contact {
    padding-bottom: 5rem;
}

.mail-text {
    display: flex;
    justify-content: space-between;
    border: 0.15rem solid black;
    color: white;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: 800;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, rgba(98, 42, 131, 1) 25%, rgba(49, 157, 155, 1) 75%);
}

.mail-text i {
    font-size: 2rem;
    transition: transform 185ms;
}

.email a:hover i {
    transform: translateX(-1rem);
    transition: 185ms;
}

form .form-control {
    border: none;
    background-color: black;
    border-bottom: white 2px solid;
    color: white;
}

form .form-control::placeholder {
    color: white;
}

form .form-control:focus {
    color: white;
    background-color: black;
}

.footer {
    background: linear-gradient(90deg, rgba(98, 42, 131, 1) 25%, rgba(49, 157, 155, 1) 75%);
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
}

.contact .btn {
    background: linear-gradient(90deg, rgba(98, 42, 131, 1) 25%, rgba(49, 157, 155, 1) 75%);
    border: none;
    color: white;
}

.arrowtop {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    background: none;
    outline: none;
    /* Remove outline */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    font-size: 3rem;
    /* Increase font size */
}