body {
    background-image: url("../Img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

header a {
    list-style: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 1.5rem;
}

.title {
    padding-top: 13rem;
}

header {
    height: 112vh;
}

section {
    background-color: black;
    color: white;
}

.competences .btn {
    background: rgb(98, 42, 131);
    background: linear-gradient(90deg, rgba(98, 42, 131, 1) 25%, rgba(49, 157, 155, 1) 75%);
    border-radius: 25px;
}

.competences .container {
    padding-top: 7rem;
}

.contact .container {
    padding-top: 10rem;
}